.spec{
  background-color: rgba(0,0,0,0.6);
  background: transparent;
  box-shadow: rgba(0,0,0,0.2);
}

.erect{
  height: 8rem;
  padding: 10px;
  text-align: left;
}

.name{
  color: red;
  line-height: 19px;
  font-size: 24px;
}

.bkgd-login{
  background: transparent;
  background-color: white;
  box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.7);
}

.example-full-width{
  width: 100%;
}
