/* You can add global styles to this file, and also import other style files */

 html, body { height: 100vh;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field{
  width: 100%;
}

body{
  width: 100vw;
  overflow-x: hidden;
  background-color: #f5f3f1;
}

.card-height{
  height:80vh;
  overflow-x: hidden;
  overflow-y: auto;
}
