.c1{
  background-color: powderblue;
  height: 400px;
}

.c2{
  border:2px solid lightcoral;
  background-color: lightcyan;
  border-radius: 10px;
}

.table1{
  overflow-x: scroll;
  height: 310px;
}


